@import url("https://use.typekit.net/wjd7ohr.css");

.footer {
  background-color: white;
  width: 98%;
  padding: 1.5em;
  color: #707070;
  font-size: 1em;
  font-family: "nunito";
  font-weight: bold;
  margin-top: auto;
}

.footer_content {
  display: flex;
  justify-content: center;
  align-items: center;
}
